name: Generate GitHub Stats

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate stats images
        uses: anuraghazra/github-readme-stats@master
        with:
          username: raimundofelipe-dev
          show_icons: true
          theme: dark

      - name: Commit files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "update github stats" || echo "no changes"
          git push
